<div class="container">
  <h1>Tweet It!</h1>
  <form class="tweet" action="/send" method="post">
    <input type="text" name="body" size="60" placeholder="type your tweet here">
    <input class="submit-btn" type="submit" value="Send">
  </form>
</div>
